.demo-card-wide.mdl-card {
  width: 70vw;
  margin-left: 15vw;
  position: absolute;
}

.results-card {
  top: 110vh;
  margin-bottom: 20vh;
  height: auto;
}

.demo-card-wide > .mdl-card__title {
  background-color: #e3e3e3;
  height: 10rem;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__title-text {
  text-transform: uppercase;
  position: relative;
  left: 2%;
}

.mdl-card__title {
  margin-bottom: 3rem;
}

.mdl-list__item-primary-content {
  padding-left: 2rem;
}
